@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom nav font weight */
.nav-font {
	font-weight: 400;
}

:root {
	--base-padding-x: 2.5rem;
	--base-padding-y: 1rem;
}

@media (min-width: 1024px) {
	:root {
		--base-padding-x: max(5vw, 4rem);
		--base-padding-y: clamp(30px, 4vw, 50px);
	}
}

html {
	scrollbar-gutter: stable;
	@apply overflow-x-hidden;
}

/* Legal page body text */
.legal-prose {
	font-family: "Inter Tight", Arial, Helvetica, sans-serif !important;
	font-size: 1.3rem !important;
	font-style: normal !important;
	font-weight: 400 !important;
	letter-spacing: 0.03rem !important;
	line-height: 1.8rem !important;
}

.legal-prose h2 {
	font-family: "Inter Tight", Arial, Helvetica, sans-serif !important;
	font-size: 3rem !important;
	font-style: normal !important;
	font-weight: 400 !important;
	letter-spacing: 0.03rem !important;
	line-height: 3.4rem !important;
}

.legal-prose h3 {
	font-size: 2.25rem;
	line-height: 2.5rem;
	letter-spacing: 0.03rem !important;
}


/* Selection */
::-moz-selection {
	color: white;
	background: black;
}
::selection {
	color: white;
	background: black;
}
.dark ::-moz-selection {
	color: white;
	background: black;
}
.dark ::selection {
	color: white;
	background: black;
}
.select-none {
	-webkit-tap-highlight-color: transparent;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}


/* Custom scrollbar */

::-webkit-scrollbar-track {
	border: none;
	background-color: transparent;
}
::-webkit-scrollbar {
	width: 5px;
	background-color: transparent;
}
::-webkit-scrollbar-thumb {
	background-color: #000;
	border-radius: 2px;
}
::-webkit-scrollbar-thumb:hover {
	background-color: #000;
}
