---
import { type CollectionEntry, getCollection } from "astro:content";
import type { ButtonProps } from "@/components/primitives/Button.astro";
import Link from "@/components/primitives/Link.astro";
import WorkPreview from "@/components/sections/WorkPreview.astro";

const currentLocale = Astro.currentLocale;

const works = await getCollection("work");

const allWorks = works
	.map((work) => {
		return {
			...work,
			slug: work.slug.startsWith("/") ? work.slug : `/${work.slug}`,
		};
	})
	.sort(
		(a, b) =>
			a.data.lastUpdateDate.getTime() - b.data.lastUpdateDate.getTime(),
	) as CollectionEntry<"work">[];
---

<div class="-mt-32 lg:-mt-36 items-center text-sm font-medium justify-center flex flex-col pb-[80px]">
	<h2 class="text-[3.13rem] leading-none font-normal my-1">Case Studies</h2>
</div>

<div
	class="text-sm font-medium auto-cols-fr grid-cols-1 md:grid-cols-2 lg:grid-cols-3 grid-rows-[auto] grid gap-[1.25rem] pb-40"
>
	{allWorks.map((work) => <WorkPreview {work} />)}
</div>
