---
import { Image } from "astro:assets";
import type { CollectionEntry } from "astro:content";
import Container from "@/components/primitives/Container.astro";
import BaseLayout from "./BaseLayout.astro";

type Props = {
	frontmatter: CollectionEntry<"pages">;
};

const { frontmatter } = Astro.props;
---

<BaseLayout seo={frontmatter.data.seo}>
	<main>
		{
			frontmatter.data.hideTitle ? null : (
				<header class:list={["pt-8 lg:pt-12", frontmatter.data.compactTitle ? "pb-4" : (frontmatter.data.headerImage ? "pb-[71px]" : "pb-32 lg:pb-36")]}>
					<Container
						tag="div"
						class:list={[frontmatter.data.compactTitle ? "mx-0 flex items-center gap-10" : "mx-0 flex justify-center items-center gap-10"]}
					>
						<div class:list={["text-sm font-medium flex min-h-[auto]", frontmatter.data.compactTitle ? "items-start justify-start w-full" : "items-center justify-center"]}>
							<div class:list={["w-full leading-none font-semibold", frontmatter.data.compactTitle ? "items-start flex-col max-w-3xl mx-auto text-[6rem]" : "items-center flex-col m-auto text-6xl lg:text-[7.13rem]"]}>
								<div class:list={["flex-col justify-start flex gap-2 leading-[1.15]", frontmatter.data.compactTitle ? "items-start text-left" : "items-center text-center"]}>
									<h1 class:list={["my-3 mx-0", frontmatter.data.compactTitle ? "" : "max-w-screen-sm"]}>
										{frontmatter.data.title}
									</h1>
									<h2 class="text-2xl lg:text-3xl max-w-screen-sm">
										{frontmatter.data.subtitle}
									</h2>
									{frontmatter.data.headerImage && (
										<div class="flex justify-center -mt-8">
											<Image src={frontmatter.data.headerImage} alt="" class="block w-[400px]" />
										</div>
									)}
								</div>
							</div>
						</div>
					</Container>
				</header>
			)
		}
		<slot />
	</main>
</BaseLayout>
