---
const { class: className } = Astro.props;
---

<div
	class:list={[
		"prose mx-auto w-full max-w-3xl pt-12 pb-40 text-lg text-slate-900 prose-headings:font-normal prose-headings:tracking-tighter prose-headings:text-black prose-a:text-slate-500 hover:prose-a:text-black prose-blockquote:border-l-slate-950 prose-blockquote:text-slate-500 prose-code:text-black prose-code:before:content-none prose-code:after:content-none prose-pre:bg-transparent prose-pre:p-[3%] prose-pre:rounded-none prose-pre:whitespace-pre-wrap prose-pre:text-black prose-pre:max-w-3xl prose-pre:w-full prose-pre:mx-auto prose-h3:tracking-[-0.02em] prose-h3:max-w-3xl prose-h3:mx-auto prose-li:marker:text-slate-500",
		className,
	]}>
	<slot />
</div>
